#head1
{
   color:red;  
   background-color: #ffffff;
}
#newheading
{
   color:green;  
   background-color: skyblue;
}
.para
{
   color: green;
   background-color: yellow;
}
body
{
   background-color: pink;
   color: white;
}
#para1
{
   color: red;
}